{{ header }}{% if has_channels %}
import { invoke, Channel } from '@tauri-apps/api/core';
{% else %}
import { invoke } from '@tauri-apps/api/core';
{% endif -%}
import * as types from './types';{% if commands | length > 0 %}

{% for command in commands %}{% include "typescript/partials/command_function.ts.tera" %}{% if not loop.last %}

{% endif %}{% endfor %}
{% endif -%}
