{{ header }}
{% if has_channels %}
import type { Channel } from '@tauri-apps/api/core';

{% endif %}{% for struct in structs %}{% if struct.isEnum %}{% include "typescript/partials/enum.tera" %}{% else %}{% include "typescript/partials/interface.tera" %}{% endif %}{% if not loop.last or param_commands | length > 0 %}
{% endif %}{% endfor %}{% for command in param_commands %}{% include "typescript/partials/param_interface.ts.tera" %}{% if not loop.last %}
{% endif %}{% endfor %}
