export const {{ command.tsTypeName }}ParamsSchema = z.object({
{% for param in command.parameters %}  {{ param.serializedName }}: {{ param.typescriptType }}{% if param.isOptional %}.optional(){% endif %},
{% endfor -%}
});
